@model IEnumerable<dotnetapp.Models.Librarycard>
    <h2>Books alloted to Librarycard</h2>
    <br>
    <br>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Books.Title)</th>
            <th>@Html.DisplayNameFor(m=>m.Author)</th>
            <th>@Html.DisplayNameFor(m=>m.PublishedYear)</th>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>
        </tr>