@model IEnumerable<dotnetapp.Models.Book>
    <h2>Books alloted to Librarycard</h2>
    <br>
    <br>
    @using (Html.BeginForm())
    {
    @Html.DisplayNameFor(m=>m.Librarycard.Id)
    @Html.EditorFor(m=>m.LibrarycardId)
    <input type="submit" value="Find">
    }
    
    @if(Convert.ToInt32(TempData["State"])==1)
    {
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Librarycard.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Title)</th>
            <th>@Html.DisplayNameFor(m=>m.Author)</th>
            <th>@Html.DisplayNameFor(m=>m.PublishedYear)</th>
            
            <th>
        </tr>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Librarycard.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.PublishedYear</td>
                </tr>
            }
        </tbody>
    </table>
    }
    @Html.ActionLink("Back to List","Index","Librarycard")