@model dotnetapp.Models.Book
@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(m=>m.Title)
        @Html.EditorFor(m=>m.Title)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Author)
        @Html.EditorFor(m=>m.Author)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.PublishedYear)
        @Html.EditorFor(m=>m.PublishedYear)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Librarycard.Id)
        @Html.EditorFor(m=>m.Librarycard.Id)
    </div>
    <input type="submit" value="Add Book"/>
    <br>
}